@import'../base/variables';

footer{
    background-color: $colorSecundario;
    width: 100%;
    padding-bottom: 1%; 
    div{
        a{
            img{
                width: 5%;
                padding-left: 46.5%;
            }
        }
    
    }
}