@import '../base/variables';
@import'../base/mapas';
@import'../base/extends';
@import'../base/mixin';
header{
    @extend %flex;
    flex-direction: column;
    div{
        background-color: map-get($header , logoColor);
        width: 100%;
        padding: 0, 0, 0, 0;
        img{
            @include dimensiones (15%, auto)
        }
    }
    nav{
        background-color: map-get($header , fondoColor);
        grid-area: nav;
        @extend %flex;
        flex-direction: row;
        justify-content: flex-end;
        padding-top: 1%;
        padding-bottom: 1%;
        ul{
            li{
                font-family:map-get($header , fuenteTexto);
                display: inline-block;
                padding-right: 4rem;
                font-size: x-large;
                transition-duration: 0.5s;
                a{
                    text-decoration: none;
                    color: map-get($header , textoColor)
                }
            }
            li:hover{
                transform: scale(1.1);
            }
        }
    }
}